.cta {
	background-color: $themePink;
	display: inline-block;
	padding: 0.8em 3em 0.7em 3em;
	border-radius: 100px;
	font-family: 'california';
	letter-spacing: 3px;
	box-shadow: 0px 0px 40px rgba( $themePink, 1);
	color: white;
	text-decoration: none;
	font-size: 1.2em;

}