header {
	position: relative;
	overflow: hidden;
}

.hdr-inner {
	position: relative;
}

.page-template-home {
	.pre-built {
		opacity: 0;
		transition: opacity 1000ms ease;
	}
}


.hdr-container {
	color: white;
	// position: absolute;
	// top: 50%;
	left: 0%;
	// transform: translateY(-50%);
	width: 100%;
	backface-visibility: hidden;
	padding: 10em 0em;

	
}

@media(max-width: $bp-sm) {
	.hdr-container {
		h1 {
			font-size: 2.8em;
		}
	}
}
.sb-logo {
	position: relative;
	z-index: 9;
	display: none;
	max-width: 450px;
	margin: auto;

	img {
		width: 100%;
	}

}
.dates {
	margin-bottom: 0.5em;
}

.hdr-sleeve {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: linear-gradient(to top right, #E02C5D, #F5A623);
	z-index: 9;
	transition: all 800ms cubic-bezier(1,.02,.93,.75);
	opacity: 0;
}

.sp-position {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	color: white;
	text-align: center;
}

.sp-welcome-parent {
	position: relative;
	display: block;
	transform: translateY(100%);
}

.letter {
	display: inline-block;
	position: relative;
}

.parent-current {
	position: relative;
	transform: translateY(-100%);
	display: block;
}

.hdr-el {
	position: relative;
	transform: translateY(25px);
	opacity: 0;
	transition: transform 700ms, opacity 900ms ease;
}

.header-bg {
	opacity: 0;
	transform: scale(1.2);
}

.letter {
	opacity: 0;
}

.is-ready {

	.hdr-sleeve {
		opacity: 1;
	}

	&.is-building {

		@for $i from 1 through 50 {
			.letter {
				&:nth-child(#{$i}) {
					transform: translateY(-100%);
					transition: all 700ms ease;
					opacity: 1;
					transition-delay: 40ms * $i - 1;
				}

			}

		}

	}

	&.is-built {

		@for $i from 1 through 50 {

			.letter {
				&:nth-child(#{$i}) {
					transform: translateX(200%);
					transition: all 700ms ease;
					opacity: 0;
					transition-delay: 40ms * $i - 1;
				}
			}

		}

	}
	
	&.is-destroy {

		.hdr-sleeve {
			opacity: 0;
			z-index: -1;
		}

		.header-bg {
			opacity: 1;
			transform: scale(1);
		}

		.hdr-container {
			opacity: 1;
			transition-delay: 700ms;
		}
		.is-transition-bg {
			display: none;
		}

	}
	&.is-complete {
		
		@for $i from 1 through 15 {

			.hdr-el {
				
				&:nth-child(#{$i}) {
					opacity: 1;
					transform: translateY(0px);
					transition-delay: 150ms * $i - 1;
				}

			}

		}
		.pre-built {
			opacity: 1;
			transition-delay: 300ms;
		}

	}

}

.is-transition-bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	opacity: 0;
	z-index: 999999;
	background-size: cover;
	background-position: center;
	transition: opacity 1200ms ease;

	&.is-active {
		opacity: 1;
		transition: opacity 1200ms ease-out;
	}
	img {
		background-size: cover;
		opacity: 0;
		width: 1px;
	}
}


// New header 

.hero_flex {
	// display: flex;
	// align-items: center;
	text-align: center;
	opacity: 0;

	&--el {
		position: relative;
		&:first-of-type {
			// width: 40%;
			margin-bottom: 3em;
		}
		&:last-of-type {
			// width: 55%;
			// margin-left: 5%;
		}
	}
}

.hero_video--card {
	padding-bottom: (1/2) * 100%;
	background: $themeBlue;
	width: auto;
	height: 0px;
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;

	&:hover {
		.card-bg {
			transform: scale(1.2) translateY(5%) ;
		}
	}

	.py-bt {
		z-index: 54;
	}
}

.card-bg {
	transition: all 400ms ease;
	position: absolute;
	top: 0; left: 0; 
	border-radius: 15px;
	width: 110%; height: 110%;
	background: red;
	background-size: cover;
	background-position: center;
}

.hero-watch-video {
	position: absolute;
	z-index: 4;
	left: 50%;
	display: none;
	transform: translate(10%, -50%);
	background: white;
	color: black;	
	font-weight: 700;

	&--inner {
		padding: 1em 3em;
	}
	
	.gradient {
		height: 4px; 
		width: 100%;
		background: linear-gradient(to right, #E02C5D, #fcac47);
		position: relative;
		display: block;
		position: absolute;
		top: 0;
	}
}


@media(min-width: $bp-md) {
	header {
		position: relative;
		
		overflow: hidden;
	}
	
	.hdr-inner {
		position: relative;
		
	}
	.hdr-container { 
		padding: 12em 0em;
	}

	.hero-watch-video { 
		display: block;
	}

	.hero_flex {
		display: flex;
		align-items: center;
		text-align: left;
	
		&--el {
			position: relative;
			&:first-of-type {
				width: 40%;
				margin-bottom: 0em;
			}
			&:last-of-type {
				width: 55%;
				margin-left: 5%;
			}
		}
	}
	
}


#who_next {
	transition: transform 1400ms ease;
	transform: translateY(150px);
	opacity: 0;
}