nav {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;

	.inner {
		padding: 0.5em 0em;
	}
}

.is-nav-el {
	position: relative;
}

.sb-logo-mini {
	max-width: 120px;
	margin: 0;

	img {
		width: 100%;
	}

}

.mt-trigger {
	@include btn-reset();
	height: 30px;
	width: 28px;
	position: absolute;
	top: 50%; right: 0;
	transform: translateY(-50%);
	cursor: pointer;
}

#mt-top,
#mt-bot {
	position: absolute;
	height: 3px;
	transition: transform 200ms ease;
	border-radius: 100px;
	width: 100%;
	background: white;
	left: 0;
}

#mt-top {
	top: 8px;
}
#mt-bot {
	top: 20px;
}

.nav-is-open {
	#mt-top {
		transform: rotate(135deg);
		top: 12px;
	}
	#mt-bot {
		transform: rotate(45deg);
		top: 12px;
	}
}