.inner-contents__mt {
  text-align: center;
  color: white;
  max-width: 1000px;
  margin: auto;
}

.inner-inner {
  .section-header {
    max-width: 1000px;
    margin: auto;
  }
  .content-area {
    max-width: 1000px;
    margin: auto;
  }
}

.mt_content_group .section-header {
  font-size: 2.3em;
}