body {
  margin: 0;
}
.inner {
  max-width: 1440px;
  width: 95%;
  margin: auto;
}


.is-mobile-centered {
  text-align: center;
}

.site-container {
  z-index: 2;
  max-width: 1800px;
  margin: auto;
  position: relative;
}

.is-el-bg {
  @include fill-parent();
  background-size: cover;
  background-position: center;
  transition: opacity 800ms ease;

}

.has-max-container {
  max-width: 1000px;
  margin: auto;
}

.has-max {
  max-width: 800px;
  margin: auto;
}

.over-bg {
  position: relative;
  z-index: 5;
}

.is-white {
  color: white;
}

.is-center {
  text-align: center;
  margin: auto;
}

.mini-spliter {
  margin: 1.5em auto;
  height: 8px;
  background: linear-gradient(to right,$themePink, $themeOrange);
  width: 0px;
  transition: width 1200ms ease;

  &.in-view {
    width: 100px;
  }

}

.mobile-center {
  text-align: center;
}
.max { max-width: 1800px; margin: auto  ; }
.clearfix {
  @include clearfix();
}


@media(min-width: $bp-lg) {
  .mobile-center {
    text-align: left;
  }
}
