// colors
$themePink: #E02C5D;
$themeBlue: #44BED6;
$themeGold: #D8BB95;
$themeOrange: #fcac47;
$themeBrown: #D8BB95;

// typography
$lettingSpace: 0px;
$lineHeight: 1.6;
$hdrLineHeight: 1.2;


// site container
$maxWidth: 1440px;
$medWidth: 1200px;


